@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@100&display=swap');

body{
  background-color: black;
  color: black;
  font-family: 'Roboto',sans-serif;
  text-align: center;
}
.nav-bar{
  background-color: white;
  max-width: 750px;
  min-height: 80px;
  vertical-align: middle;
  margin: 0 auto;
  line-height: 80px;
  padding: 15px;
}
.post{
  background-color: white;
  max-width: 750px;
  min-height: 200px;
  padding: 15px;
  margin: 10px auto;
}
a{
  color: gray;
  text-decoration: none:
}
a:hover{
  color: maroon;
}
iframe{
  width: 560px;
  height: 315px;
  border-style: none;

}
.left-align{
position: relative;

  text-align: right;
margin: 0 10px 20px auto;
}
